{% include "includes/header.html" %}

<main>

    <div class="contenedor">
        <div class="left-column">
            {% if not 'id_user' in session %}
            <div class="content-call-action">
                <div class="community-description">
                    <p><span>BPPFP</span> te da la bienvenida a su comunidad de más de <span>1,098,890</span> personas</p>
                    <p>que comparten sus pensamientos sobre una amplia variedad de temas.</p>
                </div>
                <div class="action-buttons">
                    <a href="{{ url_for('register_blueprint.register') }}">Únete Ahora</a>
                    <a href="{{ url_for('login_blueprint.login') }}">Iniciar Sesión</a>
                </div>
            </div>
            {% endif %}

            <div class="create-post">
                <div class="button-create">
                    <a href="{{ url_for('newPost_blueprint.new_post') }}"><i class="fas fa-edit"></i> Nuevo Post</a>
                </div>
            </div>

            <div class="create-post-fixed" id="buttonFixed">
                <a href="{{ url_for('newPost_blueprint.new_post') }}"><i class="fas fa-edit"></i></a>
            </div>
            
        </div>

        <div class="center-content">
            <div class="filter-container">
                <div class="filter-buttons">
                    <a href="{{ url_for('recentPosts_blueprint.recent_posts') }}" class="filter-button {% if name_page == 'Posts Recientes' %} select-filter {% endif %}" id="filter-recent"><i class="fas fa-clock"></i> Reciente</a>
                    <a href="{{ url_for('relevantPosts_blueprint.relevant_posts') }}" class="filter-button {% if name_page == 'Posts Relevantes' %} select-filter {% endif %}" id="filter-relevant"><i class="fas fa-star"></i> Relevante</a>
                </div>
                {% if name_page == 'Posts Recientes' or name_page == 'Posts Relevantes' %}
                <a href="{{ url_for('home_blueprint.home') }}" class="close-icon" id="close-icon" style="display: block;"><i class="fas fa-times"></i></a>
                {% endif %}
            </div>

            {% for post in get_posts %}

            <div class="post-cards-container">
                <a href="{{ url_for('viewPost_blueprint.view_post', id_post=post[0]) }}">
                    {% if post[2] %}
                    <div class="post-image">
                        <img src="{{ url_for('static', filename='assets/uploads/posts/' + post[2]) }}" alt="{{ post[3] }}">
                    </div>
                    {% endif %}
                </a>
                <div class="post-card">
                    <div class="post-content-container">
                        <div class="post-info">
                            <img src="{{ url_for('static', filename='assets/uploads/users/' + post[10]) }}" class="avatar" alt="foto de perfil">
                            <div class="info-text">
                                <p id="button-author-name" class="author-name">{{ post[9] }}</p>
                                <p>{{ post[5] }}</p>
                            </div>

                            <div id="author-details-hidden" class="author-details-hidden">
                                <div class="author-detail-person">
                                    <img src="{{ url_for('static', filename='assets/uploads/users/' + post[10]) }}" class="avatar" alt="foto de perfil">
                                    <a href="#" class="author-name">{{ post[8] }}</a>
                                </div>
                                <div class="author-detail-follow">
                                    <button>Seguir</button>
                                </div>
                                <div class="author-detail-description">
                                    <p>{{ post[13] }}</p>
                                </div>
                                <div class="author-email">
                                    <p>EMAIL</p>
                                    <p>{{ post[11] }}</p>
                                </div>
                                <div class="author-joined">
                                    <p>UNIDO</p>
                                    <p>{{ post[12] }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="{{ url_for('viewPost_blueprint.view_post', id_post=post[0]) }}"><h3>{{ post[3] }}</h3></a>
                        </div>
                        <!-- <div class="post-hashtag">
                            <a href="#">#UFC</a>
                            <a href="#">#peleador</a>
                            <a href="#">#campeonato</a>
                        </div> -->
                        <div class="post-reaction">
                            <div class="comments">
                                <a href="#"><i class="far fa-comment"></i> Comentarios</a>
                            </div>
                            <div class="favorite">
                                <a href="#"><i class="far fa-bookmark"></i> Favorito</a>
                            </div>
                            <div class="time-read">
                                <p><i class="fas fa-book"></i> {{ post[6] }}</p>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>

            {% endfor %}

        </div>

        <div class="right-column">
            
            <div class="followings-container">
                <h3><i class="fas fa-user-check"></i> Siguiendo</h3>
                
                <div class="following-content">
                    <img src="../../static/assets/uploads/users/1722475810.jpg" class="avatar" alt="foto de perfil">
                    <div class="info-text">
                        <p class="author-name"><a href="#">Conor McGregor</a></p>
                        <button><i class="fas fa-user-times"></i> Dejar de Seguir</button>
                    </div>
                </div>
                <div class="following-content">
                    <img src="../../static/assets/uploads/users/1722475810.jpg" class="avatar" alt="foto de perfil">
                    <div class="info-text">
                        <p class="author-name"><a href="#">Conor McGregor</a></p>
                        <button><i class="fas fa-user-times"></i> Dejar de Seguir</button>
                    </div>
                </div>
            </div>

            <div class="follows-container">
                <h3><i class="fas fa-user-plus"></i> Seguir</h3>

                <div class="follow-content">
                    <img src="../../static/assets/uploads/users/1722475810.jpg" class="avatar" alt="foto de perfil">
                    <div class="info-text">
                        <p class="author-name"><a href="#">Conor McGregor</a></p>
                        <button><i class="fas fa-user-plus"></i> Seguir</button>
                    </div>
                </div>
                <div class="follow-content">
                    <img src="../../static/assets/uploads/users/1722475810.jpg" class="avatar" alt="foto de perfil">
                    <div class="info-text">
                        <p class="author-name"><a href="#">Conor McGregor</a></p>
                        <button><i class="fas fa-user-plus"></i> Seguir</button>
                    </div>
                </div>
            </div>
        </div>
            
    </div>
    
</main>

{% include "includes/footer.html" %}