{% include('includes/head.html') %}
<div class="new-post-btn">
    <div class="post-visualize">
        <button type="button" id="btn-edit" onclick="showEditView()"><i class="fas fa-edit"></i> Editar</button>
        <button type="button" id="btn-view" onclick="showPreview()"><i class="fas fa-eye"></i> Ver</button>
    </div>
    <div class="post-cancel">
        <button type="button" id="post-cancel"><i class="fas fa-times"></i></button>
    </div>
</div>
<div id="edit-post-container" class="new-post-container">
    <div class="new-post-form">
        <form action="" method="get" enctype="multipart/form-data" id="form-post">

            <div class="form-post-top"> 
                <div class="form-post-image-preview">
                    <img id="image-preview" src="#" class="image-preview">
                    <div class="form-post-method">
                        <button type="button" id="btn-change" onclick="openFileExplorer('image-input')"><i class="fas fa-edit"></i> Cambiar</button>
                        <button type="button" id="btn-delete"><i class="fas fa-trash-alt"></i> Eliminar</button>
                    </div>
                </div>

                <div id="form-post-image" class="form-post-image">
                    <label for="image" class="image-label" onclick="openFileExplorer('image-input')">Imagen de Portada</label>
                    <input type="file" id="image-input" name="image" accept="image/*" style="display: none;" onchange="displayImage(event)">
                </div>
                    
                <div class="form-post-title">
                    <textarea name="title" id="title" class="auto-resize" placeholder="Agrega el Titulo del Post"></textarea>
                </div>

                <!-- <div class="form-post-hashtag">
                    <div class="hashtag-list-content">
                        <ul class="hashtag-list"></ul>
                    </div>
                    <div class="hashtag-form">
                        <input type="text" name="hashtag" id="hashtag" placeholder="Agrega Hasta 5 Hashtags">
                    </div>
                    <div class="hashtag-result">
                        <div class="result-element">
                            <p id="result" class="result"></p>
                        </div>
                    </div>
                </div> -->

            </div>

            <div class="form-post-bottom">
                <div class="form-post-elements">

                    <div class="post-element">
                        <button type="button" onclick="insertMarkdown('**Texto', ' Aquí**')" title="Texto Negrita"><i class="fas fa-bold"></i></button>
                    </div>
                    <div class="post-element">
                        <button type="button" onclick="insertMarkdown('*Texto', ' Aquí*')" title="Texto Crusriva"><i class="fas fa-italic"></i></button>
                    </div>
                    <div class="post-element">
                        <button type="button" onclick="insertMarkdown('[Link Text](URL)', '')" title="Enlaces"><i class="fas fa-link"></i></button>
                    </div>
                    <div class="post-element">
                        <button type="button" onclick="insertMarkdown('1. ', 'Texto Aquí')" title="Lista Ordenada"><i class="fas fa-list-ol"></i></button>
                    </div>
                    <div class="post-element">
                        <button type="button" onclick="insertMarkdown('* ', 'Texto Aquí')" title="Lista Desordenada"><i class="fas fa-list-ul"></i></button>
                    </div>
                    <div class="post-element">
                        <button type="button" onclick="insertMarkdown('## ', 'Texto Aquí')" title="Subtitulo"><i class="fas fa-heading"></i></button>
                    </div>
                    <div class="post-element">
                        <button type="button" onclick="insertMarkdown('> ', 'Texto Aquí')" title="Cita"><i class="fas fa-quote-left"></i></button>
                    </div>
                    <div class="post-element">
                        <button type="button" onclick="insertMarkdown('```Texto', ' Aquí```')" title="Linea de Codigo"><i class="fas fa-code"></i></button>
                    </div>
                    <div class="post-element">
                        <button type="button" onclick="insertMarkdown('<details><summary>Summary</summary>\n\nContent</details>', '')" title="Bloque de Codigo"><i class="fas fa-window-maximize"></i></button>
                    </div>
                    <div class="post-element">
                        <button type="button" onclick="insertMarkdown('![Alt Text](Image URL)', '')" title="Imagen"><i class="fas fa-image"></i></button>
                    </div>
                    <div class="post-element">
                        <button type="button" onclick="insertMarkdown('---\n', '')" title="Linea"><i class="fas fa-minus"></i></button>
                    </div>
                </div>

                <div class="form-post-content">
                    <textarea name="content" id="content" placeholder="Ingresa el Contenido de tu Post"></textarea>
                </div>
            </div>
            <div class="form-post-action">
                <button type="submit">Publicar Post</button>
                <button type="button" id="revert-change">Revertir Cambios</button>
                <button type="button" class="learn-markdown-link">
                    <a href="https://www.markdownguide.org/getting-started/" target="_blank">Aprende Markdown</a>
                </button>
            </div>

        </form>
    </div>
</div>

<div id="view-post-container" class="view-post-container">
    <div class="view-post-content">
        <div class="view-post-top"> 
            <div class="view-post-image-preview">
                <img id="view-image" src="#" class="view-image">
            </div>
                
            <div class="view-post-title">
                <h1 class="view-title" id="view-title"></h1>
            </div>

            <!-- <div class="view-post-hashtag">
                <ul class="view-list" id="view-list"></ul>
            </div> -->

        </div>

        <div class="view-post-bottom">
            <!-- <div class="content-post" id="content-post"></div> -->
            <div class="content-post">
                <pre id="content-post"></pre>
            </div>
        </div>
    </div>
</div>


<div class="cancellation-warning-modal" id="cancellation-warning">
    <div class="cancellation-container">
        <div class="cancellation-top">
            <span class="close-button" id="close-modal">&times;</span>
            <i class="fas fa-exclamation-circle"></i>
            <p>¿Estás seguro de que deseas cancelar la edición del post?</p>
        </div>
        <hr>
        <div class="cancellation-content">
            <p>Tu contribución es invaluable para nuestra comunidad.</p>
            <a href="{{ url_for('home_blueprint.home') }}">Cancelar Publicación</a>
            <button type="button" id="continue-editing-button">Continuar Editando</button>
        </div>
    </div>
</div>

{% include('includes/footer.html') %}