<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='assets/logo/logo-v2.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <title>BPPFP | Registro de Usuario</title>
</head>
<body>

    <div class="container">
        
        <div class="welcome-container">
            <div class="welcome-message">
                <h2>¡Regístrate y crea tu <span class="keyword">cuenta</span> <span class="keyword">personal</span> en línea!</h2>
            </div>
            <img src="{{ url_for('static', filename='assets/img/background.webp') }}"  class="welcome-image" alt="Bienvenida">
        </div>

        <div class="form-container">
            <form action="/app/auth/register" method="POST" enctype="multipart/form-data">
                <h2>¡Únete a Nosotros!</h2>

                <div class="photo-content">
                    <button type="button" class="btn-photo" onclick="openFileExplorer()">
                        <i class="fas fa-user-circle" title="Foto de Perfil"></i>
                        <img id="photo-preview" src="#" class="photo-preview">
                    </button>
                    <input type="file" id="photo" name="photo" accept="image/*" style="display: none;" onchange="displayPhoto(event)">
                </div>
                
                <div class="form-group">
                    <input type="text" name="name" id="name" class="form-input" placeholder=" ">
                    <label for="name" class="form-label">Nombre:</label>
                    <i class="fas fa-user input-icon"></i>
                </div>

                <div class="form-group">
                    <input type="text" name="username" id="username" class="form-input" placeholder=" ">
                    <label for="username" class="form-label">Usuario:</label>
                    <i class="fas fa-user-circle input-icon"></i>
                </div>

                <div class="form-group">
                    <input type="text" name="email" id="email" class="form-input" placeholder=" ">
                    <label for="email" class="form-label">Email:</label>
                    <i class="fas fa-envelope input-icon"></i>
                </div>

                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-input" placeholder=" ">
                    <label for="password" class="form-label">Contraseña:</label>
                    <i class="fas fa-lock input-icon" id="togglePassword" onclick="togglePasswordVisibility()"></i>
                </div>

                <p class="link-access">¿Ya tienes una cuenta? <a href="{{ url_for('login_blueprint.login') }}">Ingresa desde aquí.</a></p>

                <button type="submit">Registrar</button>
            </form>
        </div>
    </div>

    {% include('includes/custom.html') %}

    <script src="{{ url_for('static', filename='js/register.js') }}"></script>    
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>    
</body>
</html>