{% include 'includes/header.html' %}

<main>

    <h3 class="search-title">Busqueda para <strong>Python</strong></h3>

    <div class="search-container">
        <div class="search-left">
            <div class="search-element">
                <p id="btn-posts"><i class="fas fa-book"></i> Publicaciones <span>0</span></p>
                <p id="btn-people"><i class="fas fa-user"></i> Usuarios <span>0</span></p>
            </div>
        </div>

        <div class="search-right">
            <div id="search-post-content">
                <div class="search-post">
                    <div class="search-top">
                        <img src="../../static/assets/uploads/users/3188082560.jpg" alt="MConor">
                        <p><a href="#"> MConor</a> <br> 23 jun 2034</p>
                    </div>
                    <div class="search-center">
                        <a href="#"><h2>Como hacer...</h2></a>
                    </div>
                    <div class="search-down">
                        <div class="post-reaction">
                            <div class="comments">
                                <a href="#"><i class="far fa-comment"></i> Comentarios</a>
                            </div>
                                <div class="favorite">
                                    <a href="#"><i class="far fa-bookmark"></i> Favorito</a>
                                </div>

                            <div class="time-read">
                                <p><i class="fas fa-book"></i> 20 min</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="search-people-content">
                <div class="search-post">
                    <div class="search-top">
                        <img src="../../static/assets/uploads/users/3188082560.jpg" alt="MConor">
                        <p><a href="#"> MConor</a> <br> 23 jun 2034</p>
                    </div>
                    <div class="search-center">
                        <a href="#"><h2>Conor MCgregor</h2></a>
                    </div>
                    <div class="search-down">
                        <div class="post-reaction">
                            <div class="follow">
                                <a href="#"><i class="fas fa-user-plus"></i> Seguir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</main>

{% include 'includes/footer.html' %}