{% include "includes/header.html" %}

<main>
    
    <div class="view-post-container">
        <div class="view-post">
            {% if post[2] %}
            <div class="post-image">
                <img src="{{ url_for('static', filename='assets/uploads/posts/' + post[2]) }}" alt="{{ post[3] }}">
            </div>
            {% endif %}
            <div class="post-info info-user">
                <img src="../../static/assets/uploads/users/1722475810.jpg" class="avatar" alt="foto de perfil">
                <div class="info-text">
                    <p id="button-author-name" class="author-name">asdas asdasd</p>
                    <p>12 hun 0121</p>
                </div>
            </div>
            <div class="post-title">
                <h1>{{ post[3] }}</h1>
            </div>
            <div class="post-content">
                <pre id="contents">{{ markdown_converted | safe }}</pre>
            </div>
        </div>

        <div id="comments-box" class="comments-box">
            <div class="comments-post">
                <h2>Comentarios (23)</h2>

                {% if 'id_user' in session  %}
                
                <div class="add-comment">
                    <div class="photo-user">
                        <img src="{{ url_for('static', filename='assets/uploads/users/' + session['photo']) }}" alt="{{ session['username'] }}">
                    </div>
                    <div class="comment-box">
                        <form action="{{ url_for('newComment_blueprint.new_comment', id_post=post[0]) }}" method="POST">
                            <textarea id="comment-textarea" name="comment" class="comment-textarea" placeholder="Añadir comentario"></textarea>
                            <button id="button-comment" type="submit">Comentar</button>
                        </form>
                    </div>
                </div>

                {% else %}
                    <p class="login-comment"><a href="{{ url_for('login_blueprint.login') }}">Inicia sesion</a> para hacer un comentario</p>
                {% endif %}

                <hr>
                
                {% for comment in comments %}
                <div class="comment">
                    <div class="photo-user">
                        <img src="{{ url_for('static', filename='assets/uploads/users/' + comment[6]) }}" alt="{{ comment[5] }}">
                    </div>
                    <div class="comment-box">
                        <p>{{ comment[5] }} • {{ comment[4] }}</p>
                        <p>{{ comment[3] }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
</main>

{% include "includes/footer.html" %}