@import "root.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--color-background-light);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.welcome-container {
    flex: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcome-message {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text-light);
    font-size: 1.5rem;
    text-align: center;
    z-index: 1;
    width: 75%;
}

.keyword {
    color: var(--color-accent-light);
    font-weight: bold;
}

.form-container {
    flex: 1;
    padding: 20px;
}

form {
    margin: 20px;
}

form h2 {
    color: var(--color-accent-light);
    font-size: 36px;
}

.form-group {
    margin: 20px 0;
    position: relative;
    color: var(--color-text-secondary-light);
}

.photo-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-photo {
    justify-content: center;
    margin-top: 15px;
    position: relative;
    display: inline-block;
    width: 125px;
    height: 125px;
    background-color: var(--color-button-bg-light);
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    border: 0;
}

.btn-photo i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
}

.btn-photo:hover {
    opacity: 0.7;
}

.photo-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

#photo-input {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.form-input {
    width: 100%;
    font-size: 1rem;
    color: #706c6c;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-text-light);
}

.form-input:hover {
    border-bottom: 1.5px solid var(--color-border-hover-light);
}

.form-label {
    color: var(--color-border-light);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.input-icon {
    color: var(--color-border-light);
    position: absolute;
    top: 0;
    left: 90%;
    transform: translateY(10px);
}

/* .form-input:focus + .form-label {
    transform: translateY(-12px) scale(.7);
    transform-origin: top left;
    color: #ff0000;
} */

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
    transform: translateY(-12px) scale(.7);
    transform-origin: top left;
    color: var(--color-border-hover-light);
}

.form-input:focus,
.form-input:not(:placeholder-shown){
    border-bottom: 1.8px solid var(--color-border-hover-light);
}

.link-access {
    text-align: center;
    margin-bottom: 10px;
    color: var(--color-accent-light);
}

.link-access a {
    text-decoration: none;
    color: var(--color-link-light);
}

.link-access:hover a {
    text-decoration: underline;
    color: var(--color-link-hover-light);
}

form button {
    background-color: var(--color-accent-light);
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: var(--color-background-light);
    cursor: pointer;
}

form button:hover {
    background-color: var(--color-button-hover-bg-light);
}


@media (max-width: 768px) {
    body {
        overflow: auto;
    }

    .container {
        flex-direction: column;
    }

    .form-container,
    .welcome-container {
        flex: 1;
        padding: 10px;
    }

    .welcome-image {
        height: auto;
    }

    .welcome-message {
        color: var(--color-accent-light);
    }
    
    .keyword {
        color: var(--color-text-light);
    }
}
