<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='assets/logo/logo-v2.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>BPPFP | </title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-bar">
                <i class="fas fa-bars sidebarOpen"></i>
                <span class="logo navLogo"><a href="#">BPPFP</a></span>
    
                <div class="menu">
                    <div class="logo-toggle">
                        <span class="logo"><a href="#">BPPFP</a></span>
                        <i class="fas fa-times cancel siderbarClose"></i>
                    </div>
    
                    <ul class="nav-links">
                        <li><a href="{{ url_for('home_blueprint.home') }}">Inicio</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <div class="actions-buttons">
                        <a href="{{ url_for('register_blueprint.register') }}">Únete Ahora</a>
                        <a href="{{ url_for('login_blueprint.login') }}">Iniciar Sesión</a>
                    </div>
                </div>
    
                <div class="darkLight-searchBox">
                    <div class="dark-light">
                        <!-- <i class="far fa-moon moon"></i>
                        <i class="far fa-sun sun"></i> -->
                    </div>
    
                    <div class="searchBox">
                        <div class="searchToggle">
                            <i class="fas fa-times cancel"></i>
                            <i class="fas fa-search search"></i>
                        </div>
    
                        <div class="search-field">
                            <input type="text" placeholder="Search...">
                            <i class="fas fa-search search"></i>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>